* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    --grayColor: rgb(75, 75, 75);
    --bgColor: rgb(57, 65, 86);
    --bgColor2: rgb(87, 95, 156);
    --inputColor: rgb(124, 116, 142);
    --inputColorDisabled: rgb(150, 49, 49);
    --inputHoverColor: rgb(109, 96, 139);
    --inputBorderColor: rgb(55, 44, 82);
}

.pageContainer input:disabled{
    background-color: var(--inputColorDisabled);
}
.pageContainer input:disabled:hover{
    background-color: var(--inputColorDisabled);
}

.trySignIn{
    color: var(--grayColor);
    background-color: aliceblue;
    border-radius: 0.5em;
    padding: 0px 1em 0px 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h1{
    font-size: 2em;
}

@keyframes loading {
    from {
        transform: translate(-100%, 0px);
    }

    to {
        transform: translate(0, 0);
    }
}


html{
    overflow-x: hidden;
}

html,
body {
    margin: 0;
    height: 90%;
}

body {
    width: 100%;
    background-color: var(--bgColor);
}

nav {
    display:block;
    position: fixed;
    top: 0;
    left:0;
    padding: 0.5em 0.5em 0.5em 0.5em;
    z-index: 1;
    background-color: rgb(39, 57, 68);
    width: 3em;
    border-radius: 0 0.75em 0.75em 0;
    height: 30%;
    transition: height 0.05s cubic-bezier(1,0,1,.21);
}
nav .linkContainer{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: auto;
    align-items: center;
}
nav .linkContainer a img{
    filter: drop-shadow(24px 24px 4px rgba(0, 0, 0, 0));
    transition: all .2s ease-in-out;
}
nav .linkContainer a img:hover{
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.368));
    transform: scale(1.1);
}
nav .linkContainer a{
    text-decoration:none;
    color:beige;
    width: 100%;
}
nav .linkContainer a:hover{
    text-decoration:none;
    color:rgb(130, 130, 101);
}
nav input{
    z-index: 1;
    width: 70%;
    margin-top: 0.25em;
    margin-bottom: 1em;
    transition: all 0.5s cubic-bezier(.55,0,.55,1);
    transform: rotate(90deg) skewX(19.5deg);
}
nav:has(.closedNav) input{
    transform: rotate(360deg);
}

.closedNav *{
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(1,-0.01,.97,-0.17);
}

nav:has(.closedNav){
    height:2.75em;
    transition: height 0.5s cubic-bezier(.46,0,.88,.6);
}

/* img{
    width: 100%;
} */

.pageContainer {
    animation: loading 0.5s cubic-bezier(.14, .6, .36, 1.11) forwards;
    margin: 10vh auto 0 5vw;
    width: 90vw;
    min-height: 80vh;
    text-align: center;
    background-image: linear-gradient(135deg, rgb(230, 230, 230, 0.5), rgb(31, 35, 44, 0.5));
    filter: drop-shadow(24px 24px 4px var(--bgColor2));
    border-radius: 1em;
    border: 5px solid black;
}

.pageContainer *:not(.trySignIn) {
    margin: auto;
    margin-bottom: 1em;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 0.1s cubic-bezier(0, 0, .86, .22) 0s forwards;
}

.pageContainer input{
    transition: background-color 0.5s;
    background-color: var(--inputColor);
    border: 0.1em solid var(--inputBorderColor);
    border-radius: 1em;
    padding-left: 0.6em;
    padding-right: 0.6em;
}

.pageContainer input:hover {
    transition: background-color 0.2s;
    background-color: var(--inputHoverColor);
}

.pageContainer input:focus {
    transition: background-color 0.2s;
    background-color: var(--inputHoverColor);
}

button {
    border-radius: 1em;
    margin: 0;
    background-color: rgba(128, 128, 128, 0.25);
    border: 0.1em solid rgba(54, 54, 54, 0.25);
}

td * {
    text-align: center;
}

.textLabel {
    margin: 0;
}

.dateInputs {
    margin-bottom: 0.1em;
}

.grid-container {
    display: inline-grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
    gap: 1em;
    max-height: 40vh;
    overflow: auto;
    overflow-y: scroll;
    padding-right: 1em;
}

@media only screen and (max-width: 800px) {
    .grid-container {
        grid-template-columns: auto;
    }
  }

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(71, 38, 63);
    border-radius: 10em;
}

::-webkit-scrollbar-track {
    background: rgba(91, 34, 96, 0.2);
    border-radius: 10em;
}

/* main.html */

.pageContainer:has(.pageSubContainer) *:not(p){
    margin: 0.2em;
    padding: 0;
}

.pageSubContainer{
    display: flex;
    justify-content: center;
}

.calenderBox{
    width: 15em;
    height: 10em;
    background-color: rgb(127, 127, 176);
    border: 5px solid rgb(72, 77, 83);
    border-radius: 1em;
    filter: drop-shadow(5px 5px 0px rgb(72, 77, 83));
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}